
#intro-full-background {
    background-image: url(https://images.unsplash.com/photo-1505784045224-1247b2b29cf3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec2bdc92a9687b6af5089b335691830e&auto=format&fit=crop&w=2550&q=80);
    min-height: 40vh;
    background-size: cover;
    background-position: center center;
    animation: none;
}


