

@import "features/animations.css"; /* Using a string */

body {
    background: rgba(0,0,0,0.9);
}

h1.is-title, h2.is-subtitle, h1, h2 { color:#fff;}
#intro-full-background {
    background-image: url(https://images.unsplash.com/photo-1494536595597-653470f6896f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b99d348918e4b04572d46ba1874fab29&auto=format&fit=crop&w=2550&q=80);
}

#intro-full-background {
    background-size: cover;
    background-position: center center;
    animation: none;
}

.brand a, .brand a:visited {
    color: #fff;
}

nav ul li a, nav ul li a:visited {
    color: #fff;
}

#navigation-toggle span, #navigation-toggle span:before, #navigation-toggle span:after {
    background: #fff;
}

#intro-full-background h1 {
    margin: auto;
    color: #fff;
}

img.responsive-image {border: 7px solid;}

.subscription {
    background: #fff;
    color: rgba(0, 0, 0, 0.9);
}
.subscription button {
    border-color: rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);
    width: 100%;
    background: white;
}